{% extends 'base.html.twig' %}

{% block title %}Wanted{% endblock %}

{% block body %}
    <div class="top-nav">
        <a href="{{ path('app_register') }}" class="menu">Inscription</a>
        <a href="{{ path('app_login') }}" class="menu">Connexion</a>
    </div>

    <main class="content">
        <div>
            <h1 class="title">Wanted</h1>
        </div>

        <div>
            <button class="btn"><a href="{{ path('game') }}">Jouer</a></button>
            <button class="btn"><a href="{{ path('article') }}">Blog</a></button>
            <button class="btn"><a href="{{ path('score') }}">Score</a></button>
        </div>
    </main>

{% endblock %}
