{% extends 'base.html.twig' %}

{% block title %}Wanted{% endblock %}

{% block body %}
    <audio id="maMusique" src="{{ asset('music/page_home.mp3') }}" loop></audio>
    <div class="top-nav">
    {% if app.user %}
        <a href="{{ path('app_logout') }}" class="menu">Déconnexion</a>
    {% else %}
        <a href="{{ path('app_register') }}" class="menu">Inscription</a>
        <a href="{{ path('app_login') }}" class="menu">Connexion</a>
    {% endif %}
    </div>

    <main class="content">
        <div>
            <h1 class="title">Wanted</h1>
        </div>

        <div>
            <a href="{{ path('game') }}" class="btn">Jouer</a>
            <a href="{{ path('article') }}" class="btn">Blog</a>
            <a href="{{ path('score') }}" class="btn">Score</a>
        </div>
    </main>

{% endblock %}
