{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<a href="{{ path('article') }}">Retour à la liste d'articles</a>

    <h1>Créer un article</h1>


<div id="createArticleContainer">

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        <button id="publishButton">Publier</button>
    {{ form_end(form) }}


</div>
{% endblock %}
