{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<a href="{{ path('article') }}" class="backToHome">Retour à la liste d'articles</a>

<div id="createArticleContainer">
    <h1>Modifier un article</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        <button class="btn">Modifier</button>
    {{ form_end(form) }}


</div>
{% endblock %}
